.postHeader {
  overflow: scroll;
  height: 4rem;
}

.noPostSelectedMsg {
  font-size: 1.3rem;
}

.postContent {
  flex: 1 1 auto;
  overflow: scroll;

  h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0.7rem;
  }
}
