li {
  list-style: none;

  &.readed {
    opacity: 0.5;
  }

  &.selectedPost {
    a {
      background-color: deepskyblue;
    }
  }

  a {
    display: flex;
    flex-direction: row;
    padding: 1rem 0.5rem;

    &:hover {
      background-color: deepskyblue;
      cursor: pointer;
    }

    figure {
      display: block;
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      padding: 0 0.5rem;

      h2 {
        display: inline;
        font-size: 1.2rem;
        margin: 0;
      }
    }
  }
}
