.topButtonsContainer {
  display: flex;
  justify-content: space-between;

  .leftPanel {
    text-align: left;
  }

  .rightPanel {
    text-align: right;
  }

  .closeSidebarButton {
    font-size: 1.5rem;
    padding: 0.6rem;
    background: none;
    border: none;
  }

  .dimissAllButton {
    margin: 0.8rem;
  }
}
